include ../mixins/_flash-messages

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
            | TeamC App : &nbsp;
            block app-title

        include styles

    body

        include main-nav

        main.container

            if messages
                +flashMessages(messages)

            block container

        footer

        include scripts