// vendor scripts
//- bower:js
script(src="/source/public/bower_components/jquery/dist/jquery.js")
script(src="/source/public/bower_components/jquery-ui/jquery-ui.js")
script(src="/source/public/bower_components/bootstrap/dist/js/bootstrap.js")
//- endinject

// custom scripts
//- inject:js
script(src="/source/public/js/main.js")
//- endinject