script(src="/static/bower_components/jquery/dist/jquery.js")
script(src="/static/bower_components/jquery-ui/jquery-ui.js")
<!-- script(src="/static/bower_components/toastr/toastr.js") -->
script(src="/static/js/main.js")