// vendor css
//- bower:css
//- endinject

// manually added
link(rel="stylesheet" href="/static/css/main.css")
link(rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="/static/bower_components/toastr/toastr.css")

// custom css
//- inject:css
link(rel="stylesheet", href="/source/public/css/main.css")
//- endinject