// vendor css
//- bower:css
//- endinject

// manually added
link(rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css")
link(rel="stylesheet" href="/public/bower_components/toastr/toastr.css")

// custom css
//- inject:css
link(rel="stylesheet", href="/public/css/flash-messages.css")
link(rel="stylesheet", href="/public/css/form.css")
link(rel="stylesheet", href="/public/css/main.css")
//- endinject