<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title
		| TeamC App:
		block app-title
	link(rel="stylesheet" href="/static/css/main.css")
	link(rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
	link(rel="stylesheet" href="/static/bower_components/toastr/toastr.css")
	script(src="/static/bower_components/toastr/toastr.js")
body
	nav.navbar.navbar-inverse
		div.container-fluid
			div.navbar-header
				a(href="/").navbar-brand teamwork-connect
			ul.nav.navbar-nav
				li.active
					a(href="/") Home
				li
					a(href="/teams") View Teams
				li
					a(href="/teams/create") Create Team
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/")
						span.glyphicon.glyphicon-user Sign Up
				li
					a(href="/")
						span.glyphicon.glyphicon-log-in Login
	div.container
		block container

	footer