extends layout

block app-title
	| List
block container
	h1 Teams
	div#team-list
		each team in result
			div.row
				div.col-md-3
					a(href="/teams/" + team.id)= team.name
				div.col-md-2
					em
						strong #{team.form}
				div.col-md-3
					em
						strong #{team.github}
				div.col-md-3
					a.btn.btn-success(href="#") Join team