body {
	color : black;	
}

body, div, ul{
	margin: 0px;
	padding: 0px;
}

body div.container{
	background-color: #49FFF8;
	min-height: 800px;
}

body #team-list div.row {
	margin-top: 10px;
}

body #team-create label {
	display: block;
}

body #team-list a.btn {

	min-width: 80%;
}
