mixin flashMessages(data)

    section#flash-notifications

        each message in data.error || []
            .alert.alert-dismissible.alert-danger
                button.close(type='button', data-dismiss="alert") &times;
                strong= message


        each message in data.success || []
            .alert.alert-dismissible.alert-success
                button.close(type='button', data-dismiss="alert") &times;
                strong= message
