extends ../layout/main-layout
include ../mixins/_teams-table

block app-title
    | List
block container	
    div#team-list
        div.row
            div.col-md-6
                h1 Teams
            div.col-md-6
                form.navbar-form.navbar-left
                    div.form-group
                        input(type="text" placeholder="Search").form-control
                    button(type="submit").btn.btn-default Search

    +teamsTable(result)